.portfolio {
  padding: 80px 20px 180px 20px;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: hidden;

  @media (max-width: 768px) {
    flex-wrap: nowrap !important;
    overflow-x: auto;
    flex-shrink: 0;
  }
}

.icon {
  margin-top: 30px;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

hr {
  @media (max-width: 768px) {
    margin-top: 0px;
  }
}
