@charset "utf-8";
/* Imports: Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");

/* If need, change your variables before importing Bulma */
$link: #217064;
$link-hover: #00d1b2;
$family-primary: "Roboto", sans-serif;

/* Bulma: custom navbar */
$navbar-background-color: #fff;
$navbar-item-color: #fff;
$navbar-item-hover-color: #00d1b2;
$navbar-item-hover-background-color: #fff;
$navbar-item-active-color: #00d1b2;
$navbar-item-active-background-color: #fff;
$navbar-burger-color: #00d1b2;
$navbar-tab-active-border-bottom-color: #00d1b2;
$navbar-tab-active-border-bottom-style: solid;

/* Bulma: custom modal */
$modal-z: 100;

/* Imports: Bulma and Slick carousel */
@import "~bulma/bulma.sass";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  overflow: hidden;
}

/* Slick carousel custom */
.slick-dots li button:before {
  color: #00d1b2 !important;
}

button.navbar-burger {
  background-color: transparent;
  border: none;
}

.navbar-burger:hover {
  color: #fff;
  background-color: transparent;
}

.progress {
  margin: 0px 0px 20px 0px !important;
  height: 5px !important;
}

/* Error Pages */
.cc-error-msg {
  font-family: "Limelight", cursive;
}

/* Typograhpy */
.cc-underline {
  text-decoration: underline !important;
}

/* Brand Colors */
.cc-color-facebook {
  color: #4267b2;
}

.cc-color-instagram {
  color: #c13584;
}

.cc-color-twitter {
  color: #1da1f2;
}

.cc-color-linkedin {
  color: #2867b2;
}

.cc-color-behance {
  color: #053eff;
}

.cc-color-youtube {
  color: #ff0000;
}

hr {
  background-color: #fff;
}

/* Custom Margins */
.cc-mt-5 {
  margin-top: 5px !important;
}

.cc-mb-5 {
  margin-bottom: 5px !important;
}

.cc-mr-5 {
  margin-right: 5px !important;
}

.cc-ml-5 {
  margin-left: 5px !important;
}

.cc-mt-10 {
  margin-top: 10px !important;
}

.cc-mb-10 {
  margin-bottom: 10px !important;
}

.cc-mr-10 {
  margin-right: 10px !important;
}

.cc-ml-10 {
  margin-left: 10px !important;
}

.cc-mt-10 {
  margin-top: 10px !important;
}

.cc-mt-15 {
  margin-top: 15px !important;
}

.cc-mb-15 {
  margin-bottom: 15px !important;
}

.cc-mr-15 {
  margin-right: 15px !important;
}

.cc-ml-15 {
  margin-left: 15px !important;
}

.cc-mt-25 {
  margin-top: 25px !important;
}

.cc-mb-25 {
  margin-bottom: 25px !important;
}

.cc-mr-25 {
  margin-right: 25px !important;
}

.cc-ml-25 {
  margin-left: 25px !important;
}

.cc-mt-30 {
  margin-top: 30px !important;
}

.cc-mt-30 {
  margin-top: 30px !important;
}

.cc-mb-30 {
  margin-bottom: 30px !important;
}

.cc-mr-30 {
  margin-right: 30px !important;
}

.cc-ml-30 {
  margin-left: 30px !important;
}

.cc-mt-40 {
  margin-top: 40px !important;
}

.cc-mb-40 {
  margin-bottom: 40px !important;
}

.cc-mr-40 {
  margin-right: 40px !important;
}

.cc-ml-40 {
  margin-left: 40px !important;
}

/* Custom text align */
.cc-centered {
  text-align: center;
}

/* WordPress Gutenberg
-------------------------------------------------------------- */
.widget-col {
  @media (min-width: 1024px) {
    border-left: 2px solid rgba(128, 128, 128, 0.075);
  }
}

.wp-block-embed {
  display: flex;
  justify-content: center;
}

.wp-block-embed__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
}

.wp-block-columns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px 0;
}

.wp-block-column {
  flex: 0 1 100%;
  margin-bottom: 10px;

  @media (min-width: 992px) {
    flex: 0 1 50%;
  }
}

.wp-block-image {
  margin: 0 !important;
}

.wp-block-image img {
  width: 100% !important;
}

.wp-block-social-links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.wp-social-link {
  margin: 5px;
}

.wp-block-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* WordPress Core
-------------------------------------------------------------- */
.alignright {
  justify-content: flex-end;
  border: 2px solid black;
}

.alignleft {
  justify-content: flex-start;
  border: 2px solid black;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

.has-text-align-left {
  text-align: left;
}

/* Links */
a {
  display: inline-block !important;
}

a:link {
  color: #217064;
}

a:visited {
  color: #217064;
}

a:visited:hover {
  color: #00d1b2 !important;
}

a:hover {
  color: #00d1b2 !important;
}

/* selected link */
a:active {
  color: #00d1b2;
}

a.button {
  color: #fff !important;
}

a.button:hover {
  color: #111 !important;
}

@media (min-width: 1024px) {
  a.navbar-burger {
    display: none !important;
  }
}
