.about {
  padding: 120px 20px;
  @media (max-width: 768px) {
    padding: 80px 20px;
  }
}

.info {
  max-width: 500px;
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.meta {
  margin-top: 40px;
}

.meta {
  @media (min-width: 768px) {
    margin-top: 0px;
  }
}

.video {
  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.text-to-show {
  display: none;
  margin-top: 32px;

  @media (min-width: 768px) {
    margin-top: 0px;
  }
}

@media (max-width: 1214px) {
  .text-to-hide {
    display: none;
  }

  .text-to-show {
    display: block;
  }
}
