.article {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;

  &:hover {
    .overlay {
      opacity: 1;
    }
    .info {
      opacity: 1;
    }
  }

  a {
    color: #323232 !important;

    &:hover {
      color: #217064 !important;
    }
  }
}

.image {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  z-index: 2;
}

.overlay {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background: #00d1b2;
  opacity: 0;
  border-radius: 20px;
}

.info {
  transition: opacity 0.5s ease-in-out;
  position: relative;
  color: #fff;
  opacity: 0;
  z-index: 10;
}

.view-btn {
  display: inline-block;
  margin-top: 10px;

  &::after {
    content: "\279C";
    position: absolute;
    margin-left: 5px;
  }
}
