.footer {
  margin-top: 40px;
  padding: 40px 20px;
  background-color: #122744;

  @media (min-width: 1024px) {
    padding: 80px 20px;
  }
}

.social {
  text-align: left;
  display: flex;
  margin-bottom: 40px;

  a {
    margin: 5px 10px;
    color: #00d1b2;
    display: block;

    &:hover {
      color: #fff;
    }
  }

  .icons {
    margin: 5px 0;
  }
}

.middle-column {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .middle-column {
    margin-top: 0px;
  }
}
