.container {
  cursor: grab;
  // position: relative;
  padding: 10px 20px;
  color: #323232;
  border-radius: 3px;

  &:first-child {
    padding-left: 0;
  }
}
.testimonial {
  display: block;
  background-color: #00d1b2;
  border-radius: 6px;
  padding: 20px;
  height: 290px;
  overflow-y: auto;
}

.image-container {
  position: relative;
  width: 100%;
}

.image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.icon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.fig-wrapper {
  display: flex;
}

.fig-caption {
  display: flex;
  flex-direction: column;
  margin: 5px 0px 15px 0px;
}
