.social {
  display: none;
  right: 0;
  position: fixed;
  top: 50%;
  transform: translate(0px, -50%);
  background-color: #00d1b2;
  padding: 15px;
  z-index: 9999999;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;

  @media (min-width: 1073px) {
    display: block;
  }

  a {
    color: #217064 !important;
    display: block !important;

    &:hover {
      color: #fff !important;
    }

    &:visited {
      color: #217064 !important;
    }

    &:visited:hover {
      color: #fff !important;
    }
  }
}

.icons {
  margin: 5px 0;
}
